<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Splash_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,148},{6,6}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{6,6}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,214},{56,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{56,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{54,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{54,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,272},{52,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{52,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{48,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{48,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,274},{44,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{44,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,274},{34,40}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,38},{34,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,320},{40,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{40,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,324},{46,50}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{46,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,272},{50,56}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{50,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{52,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{52,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{54,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{54,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,214},{56,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{56,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{60,70}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{60,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,150},{62,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,148},{64,76}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{64,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,78},{68,78}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{70,82}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{70,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{74,86}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{74,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,86}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{74,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,82}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{74,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{74,76}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{74,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Splash_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,78},{1,1}}</string>
                <key>offset</key>
                <string>{-63.5,63.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Splash.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a95635f4fd756518c653085b3993a21c$</string>
            <key>textureFileName</key>
            <string>Splash.png</string>
        </dict>
    </dict>
</plist>
